.blogHeader{
    padding: 80px 0px;
    background-color: #bc3223;
    color: white;
}

.blogHeader .a_title{
    color: white;
    font-size: 40px;
}

.ques{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px;
    margin: 30px 0px;
}