.perItem{
    padding: 20px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 900px;
}

.mngImg{
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
}

.updateBtn{
    background-color: #393943;
    color: white;
    border: none;
    padding: 10px 13px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.6s;
}

.updateBtn:hover{
    background-color: #ca2516;
    color: white;
}

.delBtn{
    background-color: #ca2516;
    color: white;
    border: none;
    padding: 10px 13px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.6s;
}

.delBtn:hover{
    background-color: #ca2516;
    color: white;
}